<% include partials/header %>

<div class = "container-fluid" >
    <div class ="row">
        <div class = "col"></div>
        <div class = "col-8 ">
            <table class="table table-hover border " style= "margin: 2.5em auto;" >
                <thead class = "thead-light" >
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>Games Played</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Draws</th>
                        <th>Goals Scored</th>
                        <th>Goals Conceded</th>
                        <th>Goal Difference</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <% var count = 1  %>
                    <% results.forEach(function(team){  %>
                    <tr>
                        <th><%= count %></th>
                        <th><%= team["name"] %></th>
                        <th><%= team["gamesPlayed"] %></th>
                        <th><%= team["wins"] %></th>
                        <th><%= team["losses"] %></th>
                        <th><%= team["draws"] %></th>
                        <th><%= team["goalsScored"] %></th>
                        <th><%= team["goalsAgainst"] %></th>
                        <th><%= team["goalDifference"] %></th>
                        <th><%= team["points"] %></th>
                        <% count++; %>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div class = "col"></div>
    </div>
</div>
<% include partials/footer %>
